a.out
tmp
build
parser.out
parsetab.py
cscope.files
cscope.out
*.pyc
*~
.*.swp
m5out
/src/doxygen
/ext/dramsim2/DRAMSim2
/ext/mcpat/regression/*/*.out
/util/m5/*.o
/util/m5/*.a
/util/m5/m5
*.txt
spec_run
tags
.clang_complete
st_run
smt_run
simpoint
/checkpoint
/checkpoint_merge
/smt_checkpoint
/smt_run_bak
merge_test
/src/.idea/
/src/arch/types.hh
/src/cmake-build-debug/
/src/config/
/src/debug/
/src/params/
/src/arch/isa_traits.hh
/src/arch/tlb.hh
/src/arch/utility.hh
/src/arch/vtophys.hh
/src/arch/decoder.hh

